---
export interface Props {
	title: string;
	time: string;
	tags: string;
}

const { title, time, tags } = Astro.props;
---

<article class="rounded-[10px] border border-gray-200 bg-white px-4 pt-12 pb-4">
	<time datetime="2022-10-10" class="block text-xs text-gray-500"> {time}</time>

	<a href="#">
		<h3 class="mt-0.5 text-lg font-medium text-gray-900">
			{title}
		</h3>
	</a>

	<div class="mt-4 flex flex-wrap gap-1">
		<span
			class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600"
		>
			{tags}
		</span>

		<span
			class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600"
		>
			JavaScript
		</span>
	</div>
</article>
